* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #eaeaea; /* Define the primary color variable */
  --secnd-color:#FF7E35;
}

/* background: "linear-gradient(-90deg, #CB2E14, #6F13A2)", */
